doctype
html
  head
    link(rel="stylesheet" href="./lib/css/animate.min.css")
    link(rel="stylesheet" href="./lib/css/reset.css")
    link(rel="stylesheet" href="./layout.css")
    script(src="lib/js/createjs-2013.02.12.min.js")
    script(src="lib/js/jquery-1.7.1.js")
    script(src="lib/js/jquery-ui.js")
  body
    != yield
    
  