doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./lib/css/animate.min.css")
    link(rel="stylesheet", href="./lib/css/reset.css")
    link(rel="stylesheet", href="./layout.css")
    script(src="lib/js/createjs-2013.02.12.min.js")
    script(src="lib/js/jquery-1.7.1.js")
    script(src="lib/js/jquery-ui.js")
    script(src="https://code.createjs.com/createjs-2015.11.26.min.js")
  body
    != yield
    
  