#catch-page.house
	#result
	img(src = "images/rightwalk.png", alt = "image", id = "bf")
	img(src = "images/leftpin.png", alt = "image", id = "leftpin")
	img(src = "images/rightpin.png", alt = "image", id = "rightpin")
	img(src = "images/escape.png", alt = "image", id = "escape")
	img(src = "images/stargame.png", alt = "image", id = "start")
	img(src = "images/catch.png", alt = "image", id = "catch")
	a(href = "catch.html")
		img(src = "images/again.png", alt = "image", id = "again")
	a(href = "index.html")
		img(src = "images/return.png", alt = "image", id = "return")
script(src="js/catch.js")