.house  
  .layout-row
    div  
      img(src = "images/wood.png", alt = "image", id = "wood")
      br
      img(src = "images/bf.png", alt = "image", id = "bf")
    .layout-row
      #circle1.bounceInRight.animated.circle.circle-one
        a(href = "catch.html")
          image(src = "images/catchword.png", alt = "image", id = "catch")
      #circle2.bounceInRight.animated.circle.circle-two
        a(href = "operation.html")
          image(src = "images/doctorword.png", alt = "image", id = "doctor")
      #circle3.bounceInRight.animated.circle.circle-three
        a(href = "smart1.html")
          image(src = "images/smartword.png", alt = "image", id = "smart")
      #back1.bounceInRight.animated.circle.back-one
      #back2.bounceInRight.animated.circle.back-two
      #back3.bounceInRight.animated.circle.back-three
      #story.bounceInRight.animated.story.story-purple
        a(href = "introduce.html")
          image(src = "images/introduce1.png", alt = "image", id = "story1")
      #storyback.bounceInRight.animated.story.storyback
script(src="js/index.js")