.smart-page#game-layout
  img.size.rollIn.animated(src = "images/smart/red.png", id = "red", alt = "image")
  img.size.rollIn.animated(src = "images/smart/yellow.png", id = "yellow", alt = "image")
  img.size.rollIn.animated(src = "images/smart/purple.png", id = "purple", alt = "image")
  img.size.rollIn.animated(src = "images/smart/blue.png", id = "blue" alt = "image")
  img(src = "images/smart/smartstart.png", id = "start", alt = "image")
  ul#sortable
    li#row0_0
    li#row0_1
    li#row0_2
    li#row0_3
    li#row0_4
    li#row0_5
    li#row1_0
    li#row1_1
    li#row1_2
    li#row1_3
    li#row1_4
    li#row1_5
    li#row2_0
    li#row2_1
    li#row2_2
    li#row2_3
    li#row2_4
    li#row2_5
    li#row3_0
    li#row3_1
    li#row3_2
    li#row3_3
    li#row3_4
    li#row3_5
    li#row4_0
    li#row4_1
    li#row4_2
    li#row4_3
    li#row4_4
    li#row4_5
    li#row5_0
    li#row5_1
    li#row5_2
    li#row5_3
    li#row5_4
    li#row5_5
  #add
  p#winlose
.smart-page#waiting
  p.flash.animated#waiting-word Waiting...
script(src="js/smart.js")